h1, h2, h4, h4, h5, p, a {
    font-weight: 200;
    font-family: Garamond, "Times New Roman", serif;
}

.dark {
    hr {
        border-color:white;
        color:white;
        background-color: white;
    }
}